@model List<CRUD_AlunosMateriasNotas.Models.Materia>
@{
    ViewData["Title"] = "Index";
    var pesquisa = Context.Request.Query["pesquisa"];
}
<h1>Matérias</h1>

<br />
<br />
<!--
    Formulário
-->
<form class="row g-3" method="post">
    <div class="col-auto">
        <label for="pesquisa"></label>
        <input type="text" name="pesquisa" id="pesquisa" value="@pesquisa" class="form-control" placeholder="Digite o nome da matéria" required>
    </div>
    <div class="col-auto">
        <button type="submit" class="btn btn-primary btn_novo">Buscar</button>
        <a asp-action="Cadastrar" class="btn btn-secondary btn_novo">Nova Matéria</a>
    </div>
</form>
<br />
<br />

@*@{ await Html.RenderPartialAsync("~/Views/Shared/_Mensagem.cshtml"); }*@

@if (Model.Count > 0)
{

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Id)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Nome)</th>
                    <th scope="col">@Html.DisplayNameFor(model => model.First().Descricao)</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Materia materia in Model)
                {
                    <tr>
                        <th scope="row">@materia.Id</th>
                        <td>@materia.Nome</td>
                        <td>@materia.Descricao</td>
                        <td>
                            <a asp-action="Atualizar" asp-route-id="@materia.Id" class="btn btn-secondary btn-tables">Atualizar</a>
                            <a asp-action="Excluir" asp-route-id="@materia.Id" class="btn btn-danger btn-tables">Excluir</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @* @Html.PagedListPager((IPagedList)Model, pagina => Url.Action("Index", new { pagina = pagina, pesquisa = pesquisa }))*@

}
else
{
    <span>Nenhum registro cadastrado!</span>
}